/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer
#define DEFAULT 0
#define NAV     1
#define EMP     2
#define CTRL    3


// 
// TEST - escape grave swap
// DONE - SoftOff - tryouts
// DONE - SoftOff - tryout turn back on 
// DONE - layer change - combination layer change
// DONE - key rename - shorten names - OK!
//     - C_AC_DESKTOP_SHOW_ALL_APPLICATIONS - show_app
//     - C_AC_DESKTOP_SHOW_ALL_WINDOWS - show_wndw
// DONE - momentary - layer name vs number - OK!
// DONE - backspace delete
// DONE - layer change - number arrow layer
// DID NOT DO - External power - Documentation mentioned it is only for periperals

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };

    behaviors {
        // Rename C_AC_DESKTOP_SHOW_ALL_APPLICATIONS
            ShowApp: show_app {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS>, <&kp C_AC_DESKTOP_SHOW_ALL_APPLICATIONS>;
                mods = <(MOD_LGUI)>;
            };
        // Rename C_AC_DESKTOP_SHOW_ALL_WINDOWS
            ShowWndw: show_window {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&kp C_AC_DESKTOP_SHOW_ALL_WINDOWS>, <&kp C_AC_DESKTOP_SHOW_ALL_WINDOWS>;
                mods = <(MOD_LGUI)>;
            };
        // CMD + BACKSPACE = DELETE
            bsdel: backspace_del {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&kp BACKSPACE>, <&kp DELETE>;
                mods = <(MOD_LGUI)>;
            };
        // CMD + GRAVE = ESCAPE
            gresc: grave_escape {
                compatible = "zmk,behavior-mod-morph";
                label = "GRAVE_ESCAPE";
                #binding-cells = <0>;
                bindings = <&kp GRAVE>, <&kp ESC>;
                mods = <(MOD_LGUI)>;
            };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
                                                                                                          
            // Normal Layer
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |   `    |   q    |   w    |   e    |   r    |   t    |      |   y    |   u    |   i    |   o    |   p    |  BSPC  |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |  TAB   |   a    |   s    |   d    |   f    |   g    |      |   h    |   j    |   k    |   l    |   ;    |   '    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // | SHIFT  |  CLYER |   z    |   x    |   c    |   v    |      |   b    |   n    |   m    |   ,    |   .    |   /    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                //                            |  CTRL  |  OPT   |  CMD   |      |  SPCE  |  ENTR  | NLYER  |
                //                            +--------+--------+--------+      +--------+--------+--------+

            // Shift Layer (Momentary)
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |   ~    |   Q    |   W    |   E    |   R    |   T    |      |   Y    |   U    |   I    |   O    |   P    |  BSPC  |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |  TAB   |   A    |   S    |   D    |   F    |   G    |      |   H    |   J    |   K    |   L    |   :    |   "    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |        |  CLYER |   Z    |   X    |   C    |   V    |      |   B    |   N    |   M    |   <    |   >    |   ?    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                //                            |  CTRL  |  OPT   |  CMD   |      |  SPCE  |  ENTR  | NLYER  |
                //                            +--------+--------+--------+      +--------+--------+--------+
            
            bindings = <
                &kp GRAVE &kp Q    &kp W    &kp E     &kp R    &kp T      &kp Y       &kp U       &kp I     &kp O     &kp P    &kp BSPC
                &kp TAB   &kp A    &kp S    &kp D     &kp F    &kp G      &kp H       &kp J       &kp K     &kp L     &kp SEMI &kp SQT
                &kp LSHFT &mo 2    &kp Z    &kp X     &kp C    &kp V      &kp B       &kp N       &kp M     &kp COMMA &kp DOT  &kp FSLH 
                                            &kp LCTRL &kp RALT &kp LGUI   &kp SPACE   &kp RET     &mo 1
            >;
        };

        navigation_layer {
                                                                                                          
            // Navigation Layer (Momentary)
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |  ESC   |   1    |   2    |   3    |   4    |   5    |      |   6    |   7    |   8    |   9    |   0    |   =    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |  TAB   |        |        |        |        |        |      |        |  HOME  |   ^    |  END   | PG UP  |   -    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // | SHIFT  | LYER2  |        |        |        |   [    |      |   ]    |   <-   |   v    |  ->    | PG DN  |   \    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                //                            |  CTRL  |  OPT   |  CMD   |      |  SPCE  |  ENTR  |        |
                //                            +--------+--------+--------+      +--------+--------+--------+

            // Shift Navigation Layer (Momentary)
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |  ESC   |   !    |   @    |   #    |   $    |   %    |      |   ^    |   &    |   *    |   (    |   )    |   +    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |  TAB   |        |        |        |        |        |      |        |  HOME  |   ^    |  END   | PG UP  |   _    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |        | LYER2  |        |        |        |   {    |      |   }    |   <-   |   v    |  ->    | PG DN  |   \    |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                //                            |  CTRL  |  OPT   |  CMD   |      |  SPCE  |  ENTR  | NLYER  |
                //                            +--------+--------+--------+      +--------+--------+--------+

            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp N3    &kp N4   &kp N5        &kp N6      &kp N7      &kp N8    &kp N9    &kp N0    &kp EQUAL
                &kp TAB   &none    &none    &none     &none    &none         &none       &kp HOME    &kp UP    &kp END   &kp PG_UP &kp MINUS
                &kp LSHFT &mo 2    &none    &none     &none    &kp LBKT      &kp RBKT    &kp LEFT    &kp DOWN  &kp RIGHT &kp PG_DN &kp BSLH
                                            &kp LCTRL &kp RALT &kp LGUI      &kp SPACE   &kp RET     &none
            >;
        };

        empty_layer {

            // Empty Layer (Momentary)
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |        |        |        |        |        |        |      |        |        |        |        |        |        |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |        |        |        |        |        |        |      |        |        |        |        |        |        |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |        |        |        |        |        |        |      |        |        |        |        |        |        |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                //                            |        |        |        |      |        | SETTNG |        |
                //                            +--------+--------+--------+      +--------+--------+--------+

            bindings = <
                &none     &none    &none    &none     &none    &none     &none     &none    &none    &none     &none    &none
                &none     &none    &none    &none     &none    &none     &none     &none    &none    &none     &none    &none
                &none     &none    &none    &none     &none    &none     &none     &none    &none    &none     &none    &none
                                            &none     &none    &none     &none     &mo 1    &none
            >;
        };

        control_layer {
            // Option Lower Layer
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |  DIM   | BRIGHT | WINDOW |        |   F4   |   F5   |      |  BACK  |  PLAY  |  NEXT  |  MUTE  | V DOWN |  V UP  |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |        |  BT1   |  BT2   |  BT3   |  BT4   |  BT5   |      | SFTOFF |        |        |        |        |        |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                // |        |  USB   |  BLE   |  CLR   |        |        |      |        |        |        |        |        |        |
                // +--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+
                //                            |        |        |        |      |        |        |        |
                //                            +--------+--------+--------+      +--------+--------+--------+

            bindings = <
                &kp C_BRI_DN &kp C_BRI_UP &ShowWndw       &none        &kp F4         &kp F5              &kp C_PREV &kp C_PP &kp C_NEXT &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP
                &none        &bt BT_SEL 0 &bt BT_SEL 1    &bt BT_SEL 2 &bt BT_SEL 3   &bt BT_SEL 4        &soft_off  &none    &none      &none      &none        &none
                &none        &out OUT_USB &out OUT_BLE    &bt BT_CLR   &none          &none               &none      &none    &none      &none      &none        &none
                                                          &none        &none          &none               &none      &none    &none
            >;
        };
    };
};