/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>

#define MO_TOG(layer) &mo_tog layer layer   // Macro to apply momentary-layer-on-hold/toggle-layer-on-tap to a specific layer

// TEST - Test Lily58 soft off
// TEST - Change Lily58 left hand left-most thumb cluster key
// TEST - Change Lily58 Backspace - BSPC vs BSPCDEL & Location
//      - Change Lily58 Minus
// TEST - Add Lily58 Show all apps
// TEST - Change Lily58 arrows
// TEST - Change Lily58 Escape
// TEST - Change Lily58 left hand Tab

/ {
    behaviors {
        // Rename C_AC_DESKTOP_SHOW_ALL_WINDOWS
            ShowWndw: show_window {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&kp C_AC_DESKTOP_SHOW_ALL_WINDOWS>, <&kp C_AC_DESKTOP_SHOW_ALL_WINDOWS>;
                mods = <(MOD_LGUI)>;
            };
        // Momentary / toggle layer
            mo_tog: behavior_mo_tog {
                compatible = "zmk,behavior-hold-tap";
                label = "mo_tog";
                #binding-cells = <2>;
                flavor = "hold-preferred";
                tapping-term-ms = <200>;
                bindings = <&mo>, <&tog>;
            };
        // CMD + BACKSPACE = DELETE
            bsdel: backspace_del {
                compatible = "zmk,behavior-mod-morph";
                #binding-cells = <0>;
                bindings = <&kp BACKSPACE>, <&kp DELETE>;
                mods = <(MOD_LGUI)>;
            };
        // CMD + GRAVE = ESCAPE
            gresc: grave_escape {
                compatible = "zmk,behavior-mod-morph";
                label = "GRAVE_ESCAPE";
                #binding-cells = <0>;
                bindings = <&kp GRAVE>, <&kp ESC>;
                mods = <(MOD_LGUI)>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // 
                // +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
                // |   `    |   1    |   2    |   3    |   4    |   5    |                        |   6    |   7    |   8    |   9    |   0    |   =    |
                // +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
                // | ESC    |   Q    |   W    |   E    |   R    |   T    |                        |   Y    |   U    |   I    |   O    |   P    |  BSPC  |
                // +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
                // | TAB    |   A    |   S    |   D    |   F    |   G    |                        |   H    |   J    |   K    |   L    |   ;    |   '    |
                // +--------+--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+--------+
                // | SHIFT  |   \    |   Z    |   X    |   C    |   V    |        |      |   -    |   B    |   N    |   M    |   ,    |   .    |   /    |
                // +--------+--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+--------+
                //                            |        |  CTRL  |  OPT   |  CMD   |      | SPACE  | ENTER  | LAYER  |        |
                //                            +--------+--------+--------+--------+      +--------+--------+--------+--------+

            bindings = 
                &gresc    &kp N1   &kp N2   &kp N3    &kp N4    &kp N5                             &kp N6      &kp N7      &kp N8    &kp N9    &kp N0   &kp EQUAL
                &kp ESC   &kp Q    &kp W    &kp E     &kp R     &kp T                              &kp Y       &kp U       &kp I     &kp O     &kp P    &kp BSPC
                &kp TAB   &kp A    &kp S    &kp D     &kp F     &kp G                              &kp H       &kp J       &kp K     &kp L     &kp SEMI &kp SQT
                &kp LSHFT &kp BSLH &kp Z    &kp X     &kp C     &kp V    &none          &kp MINUS  &kp B       &kp N       &kp M     &kp COMMA &kp DOT  &kp FSLH 
                                            &none  &kp LCTRL    &kp LALT &kp LGUI       &kp SPACE  &kp RET     &mo 1       &none
            >;
        };

        lower_layer {
            //
                // +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
                // |  DIM   | BRIGHT | WINDOW |        |   F4   |   F5   |                        |  BACK  |  PLAY  |  NEXT  |  MUTE  | V DOWN |  V UP  |
                // +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
                // | ESC    |  BT1   |  BT2   |  BT3   |  BT4   |  BT5   |                        | SFTOFF |        |        |        |        |        |
                // +--------+--------+--------+--------+--------+--------+                        +--------+--------+--------+--------+--------+--------+
                // | TAB    |  USB   |  BLE   |  CLR   |        |    [   |                        |   ]    |  HOME  |   ^    |  END   | PG UP  |        |
                // +--------+--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+--------+
                // | SHIFT  |        |        |        |        |        |        |      |        |        |   <-   |   v    |  ->    | PG DN  |        |
                // +--------+--------+--------+--------+--------+--------+--------+      +--------+--------+--------+--------+--------+--------+--------+
                //                            |        |  CTRL  |  OPT   |  CMD   |      | SPACE  | ENTER  |        |        |
                //                            +--------+--------+--------+--------+      +--------+--------+--------+--------+

            bindings = <
                &kp C_BRI_DN &kp C_BRI_UP &ShowWndw    &none        &kp F4       &kp F5                               &kp C_PREV  &kp C_PP    &kp C_NEXT &kp C_MUTE &kp C_VOL_DN &kp C_VOL_UP
                &kp ESC      &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                         &soft_off   &none    &none      &none      &none        &none 
                &kp TAB      &out OUT_USB &out OUT_BLE &bt BT_CLR   &none        &kp LBKT                             &kp RBKT    &kp HOME &kp UP     &kp END    &kp PG_UP    &none 
                &kp LSHFT    &none        &none        &none        &none        &none        &kp RET      &kp RET    &none       &kp LEFT &kp DOWN   &kp RIGHT  &kp PG_DN    &none 
                                                       &none        &kp RALT     &kp LGUI     &kp SPACE    &kp SPACE  &kp RET     &none    &none
            >;
        };
    };
};